@import "./_utilities.css";

*{
    margin: 0;
    padding: 0;
    --webkit-font-smoothing:antialiased;
}

body {
    font-family: 'Nunito',sans-serif;
    background: var(--secondary);
    color: var(--white-bg);
    scroll-behavior: smooth;
}

.header {
    background: #2874f0;
    padding: 13px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logos {
    width: 70px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.star {
    width: 14px;
}

.search-box {
    display: flex;
}

.search-box input{
    padding: 0 16px;
    width: 450px;
    height: 38px;
    outline:none;
    max-width: 400px;
    border: none;
    background: var(--white);
}

.submit-btn {
   display: inline-block;
   outline: none;
   border: none;
   padding: 0 18px;
   background: (--white);
}

.btn-primary {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.cartm {
    display: flex;
    text-align: center;
    align-items: center;
}

.cartm span {
    margin: 0 5px;
    font-size: 18px;
    color: var(--white);
} 

.sub-nav ul{
    display: flex;
    justify-content: space-between;

}

.sub-nav ul li {
    margin-left:2rem;
} 

.sub-nav ul li {
    font-family: 'Nunito',sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.menuheader {
    background: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    color: black;
    padding: 2rem;
}

.down-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zoneimg {
    width: 64px;
    height: 64px;
}

.down-menu div a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-menu div a span {
    font-weight: 600;
    font-size: 14px;
    font-family: "PTSans",sans-serif;
}
.down-menu div a span:hover {
    color: #2874f0;
    transition: all .3s ease;
}



.slider-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.slider-heading h1 {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Nunito',sans-serif;
}

.gift-btn {
    padding: 10px 20px;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
}

.card-wrapper {
    display: flex;
    /* justify-content: center; */
}

.card-body {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center;
}

.card-body img {
    margin: 0 15px;
    padding: 10px 0;
}

.card-heading {
    color: var(--black);
}

/* .card-body{
    padding: 1rem;
} */



.card-heading p {
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
}





/* .card-heading p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */


footer{
    background: #172337;
    padding: 1rem 0;
}
    .footer_wrapper{
    padding: 45px 0px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    
}
    .footer_info {
    max-width: 13rem;
}
    .footer_img {
    max-width: 13rem;
}
    .footer_adrss{
    max-width: 90%;
    margin-top: 0.85rem;
    line-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-family: 300;
}
    .footer_info p {
    font-weight: 250;
    line-height: 1.8;
    color: var(--white);
    font-size: 13px;
}
    .footer_list {
    
    margin: 0 1rem;
}
    .footer_list li {
    padding: 6px 0;
    text-align: left;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
}
.footer_list li a{color: #fff; font-weight: 500;}
    .footer_list li a:hover {
    color: #9ba4aaf8;
    transition:  color .3s , transform .2s;
}
    .footer_heading {
    color: var(--white);
    padding: 10px 1px;
    text-align: inherit;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff1a;
}
    .footer_end {
    border-top: 1px solid #9ba4aa38;
    padding: 13px;
    align-items: center;
}
    .x-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
    .social-media li {
    font-size: 13px;
    padding: 14px;
    color: white;
}
.social-media li a {
    color: white;
}
.social-media li a:hover {
    color: #dbdbdb;
}
    .footer-end {
    max-width: 12rem;
}
    .fab {
    color: var(--white);
}
    .fab:hover {
        color: #c91729ce;
        transition: color .4s, transition .4s;
    }
    .copyright {
    padding: 1rem 0;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    color: var(--white);
}